.variantComponent {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 600px;
    margin: 3rem auto 0 auto;
}

.variant-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.variant-btn > button {
    background: transparent;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 500;
    font-family: inherit;
    width: 120px;
    cursor: pointer;
}

.variant-btn > button.active {
    border: 1px solid #000;
}

.variant-msg {
    width: 70%;
    background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23333' stroke-width='2' stroke-dasharray='18%2c 11%2c 24%2c 6' stroke-dashoffset='41' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 7px;
    padding: 15px;
}

.variant-msg > p {
    font-size: 13px;
    color: #00237f;
}


/*  */
.mailBody {
    background: #fff;
    padding: 30px;
    border: 1px solid #e2e1e1;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.formInput, .subjectInput {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 15px;
}

.formInput > input::placeholder, .subjectInput > input::placeholder, .textarea > textarea::placeholder {
    color: #d1d1d1;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.formInput > p, .subjectInput > p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.formInput > input, .subjectInput > input {
    border: 0;
    width: 100%;
    outline: 0;
    font-weight: 600;
}

.subjectInput {
    margin-top: 20px;
}

.hrLine {
    border-bottom: 1px solid #e2e1e1;
}

.textarea {
    margin-top: 3rem;
}

.textarea > textarea {
    width: 100%;
    height: 300px;
    resize: none;
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn {
    text-align: right;
    max-width: 600px;
    margin: 1rem auto 0 auto;
    padding-bottom: 2rem;
}

.btn > button {
    background: #00237f;
    padding: 10px 12px;
    color: #fff;
    border: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    width: 130px;
}
/*  */