.customSubmitBtn{
    background: #00237f;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5rem;
    color: #FFFFFF;
    border: none;
    outline: 0;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}
.customSubmitBtn:focus{
    transition: all 2s ease;
    border-color: #00237f;
}